<div *ngIf="capability">
  <div [ngSwitch]="capability.type">
    <div class="buttons">
      <div *ngSwitchCase="types.On_Off">
        <button (click)="stateClick(true)"
                class="btn"
                [class.btn-primary]="capability.state"
                [class.btn-default]="!capability.state">
          On
        </button>
        <button (click)="stateClick(false)"
                class="btn"
                [class.btn-primary]="!capability.state"
                [class.btn-default]="capability.state">
          Off
        </button>
      </div>
      <div *ngSwitchCase="types.ColorLoop">
        <button (click)="stateClick(true)"
                class="btn"
                [class.btn-primary]="capability.state"
                [class.btn-default]="!capability.state">
          ColorLoop
        </button>
        <button (click)="stateClick(false)"
                class="btn"
                [class.btn-primary]="!capability.state"
                [class.btn-default]="capability.state">
          Off
        </button>
      </div>
    </div>
    <div *ngSwitchCase="types.Brightness" class="slider">
      <label>Brightness</label>
      <app-slider [value]="capability.level / capability.max"
                  (change)="levelChange($event)"
                  class="brightness"></app-slider>
    </div>
    <div *ngSwitchCase="types.Hue" class="slider">
      <label>Hue</label>
      <app-slider [value]="capability.level / capability.max"
                  (change)="levelChange($event)"
                  class="hue"></app-slider>
    </div>
    <div *ngSwitchCase="types.Saturation" class="slider">
      <label>Saturation</label>
      <app-slider [value]="capability.level / capability.max"
                  (change)="levelChange($event)"
                  class="saturation"></app-slider>
    </div>
  </div>
</div>
