<div *ngIf="capability">
  <div [ngSwitch]="capability.type">
    <div class="buttons">
      <button *ngSwitchCase="types.On_Off" (click)="stateClick()">
        {{capability.state ? 'On' : 'Off'}}
      </button>
      <button *ngSwitchCase="types.ColorLoop" (click)="stateClick()">
        {{capability.state ? 'Off' : 'Color Loop'}}
      </button>
    </div>
    <div *ngSwitchCase="types.Brightness" class="slider">
      <label>Brightness</label>
      <app-slider [value]="capability.level / capability.max"
                  [width]="500"
                  (change)="levelChange($event)"
                  class="red"></app-slider>
    </div>
    <div *ngSwitchCase="types.Hue" class="slider">
      <label>Hue</label>
      <app-slider [value]="capability.level / capability.max" [width]="500" (change)="levelChange($event)"></app-slider>
    </div>
    <div *ngSwitchCase="types.Saturation" class="slider">
      <label>Saturation</label>
      <app-slider [value]="capability.level / capability.max" [width]="500" (change)="levelChange($event)"></app-slider>
    </div>
  </div>
</div>
